html,body{
    margin:0;
    padding:0;
    height: 100%;
}
a{color:#000000; text-decoration-line: none;}
a:hover{text-decoration-line: underline;}
.board_layout
{
    display: flex;
    padding-top: 10px;
    height: 1920px;
    margin: 20px;
    margin-bottom:0px;
    /*border: 1px solid #bcbcbc;*/
}
.board_sidebar{
    
    top: 0;
    left: 0;
    border: 1px solid #bcbcbc;
    height: calc(100%-20px);
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
    font-size: 14px;
}
.board_frame
{
    flex-direction: column;
    border: 1px solid #bcbcbc;
    margin-left:20px;
    width: 1500px;
    height: 100%;        
}
.frame_header
{
    margin: 20px;
    border: 1px solid #bcbcbc;
    padding : 20px;
    text-align: center;
    flex-grow:1;
}
.frame_content
{
    flex-direction: column;
    margin-bottom:0px;
    margin: 20px;
    padding : 20px;
    flex-grow:4;
    border: 1px solid #bcbcbc;
}
.frame_content table
{
    padding:20px;
    margin-left: 20px;
    table-layout: fixed;
    
}
.frame_content table>tbody>tr:hover
{
    text-decoration: underline;
    cursor : pointer;
}
.frame_content table>tbody>tr>td
{
    padding:10px;
}

.content_bottom,.content_posting,.content_header,#content_textarea
{
    border: 1px solid #bcbcbc;
    margin:20px;
    padding:20px;
}
.content_posting
{
    position: relative;
    height: 500px;

}
.posting_button
{
    position: absolute;
    bottom: 0px;
    margin:20px;
    padding:200px ;
}
#content_textarea
{
    height: 500px;
    width: 1109px;
}
.content_title
{
    margin:20px;
}
#content_title
{
    height: 30px; 
    width: 1143px;
}